/* Sidebar.css */
.sidebar {
  background-color: #3d2463;
  width: 70px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.sidebar-icon {
  font-size: 30px;
  margin: 20px 0;
  cursor: pointer;
  transition: transform 0.3s;
}

.sidebar-icon:hover {
  transform: scale(1.2);
}